Repository catchorg/Catch2, pull requests merged in 2019-04, with the labels that each got.

#1596 IndexOfHideLabel is never used
  contrib/ParseAndAddCatchTests.cmake
Labels: Contrib

#1559 ParseAndAddCatchTests enhancements
  contrib/ParseAndAddCatchTests.cmake
Labels: Contrib

#1600 CatchAddTests now adds tags as labels for ctest
  contrib/CatchAddTests.cmake
Labels: Contrib

#1601 ParseAndAddCatchTests: Ignore cmake object libraries
  contrib/ParseAndAddCatchTests.cmake
Labels: Contrib

#1497 Fix warnings generated with -Wshadow
  include/internal/catch_approx.cpp
  projects/SelfTest/UsageTests/Message.tests.cpp
Labels: Warnings issue

#1499 Vector Approx matcher
  include/internal/catch_matchers_vector.h
  projects/SelfTest/Baselines/compact.sw.approved.txt
  projects/SelfTest/Baselines/console.std.approved.txt
  projects/SelfTest/Baselines/console.sw.approved.txt
  projects/SelfTest/Baselines/junit.sw.approved.txt
  projects/SelfTest/Baselines/xml.sw.approved.txt
  projects/SelfTest/UsageTests/Matchers.tests.cpp
Labels: Feature

#1606 fix example's mistake in slow-compiles.md
  docs/slow-compiles.md
Labels: Documentation
